arduino-ide/
Arduino IDE/
autostart/
Bitcoin/
cachyos/
Code - OSS/
configstore/
dconf/
eDEX-UI/
Electron/
GIMP/
gnome-boxes/
GNS3/
go/
google-chrome/
kde.org/
kicad/
Kitware/
kraken/
Kvantum/
libreoffice/
libvirt/
LuxOS\ Commander/
menus/
micro/
mpv/
nautilus/
nwg-look/
octopi/
opensnitch/
pamac/
pulse/
Raspberry\ Pi/
sniffnet/
teams-for-linux/
termshark/
tigervnc/
torbrowser/
unity3d/
xsettingsd/
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
zint/
