arduino-ide/
Arduino IDE/
asm-lsp/
autostart/
Bitcoin/
brutal-doom/
buildroot.org/
cachyos/
Code - OSS/
configstore/
containers/
dconf/
digikamrc
digikam_systemrc
eDEX-UI/
Electron/
filelightrc
fontconfig/
font-manager/
GIMP/
glow/
gnome-builder/
GNS3/
go/
google-chrome/
grafx2/
gzdoom/
helix/
icon-explorer/
iDescriptor/
kde.org/
kdiskmark/
Kitware/
Kvantum/
libreoffice/
libvirt/
LuxOS\ Commander/
menus/
mimeapps.list
mpv/
nautilus/
nushell/
nwg-look/
obs-studio/
octopi/
pamac/
pavucontrol.ini
posting/
pulse/
quickshell/
Raspberry\ Pi/
retroarch/
showfotorc
sniffnet/
solaar/
teams-for-linux/
termshark/
tigervnc/
torbrowser/
unity3d/
xsettingsd/
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
xenon/
zdoom/
zint/
