arduino-ide/
Arduino IDE/
autostart
Bitcoin/
cachyos/
Code - OSS/
dconf/
Electron/
GIMP/
gnome-boxes/
GNS3/
go/
google-chrome/
kicad/
kraken/
Kvantum/
libreoffice/
libvirt/
LuxOS\ Commander/
menus/
micro/
mpv/
nautilus/
octopi/
opensnitch/
pulse/
sniffnet/
teams-for-linux/
termshark/
torbrowser/
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
zint/
