[Match]
Type=wlan

[Network]
DHCP=yes
DNS=1.1.1.1 2606:4700:4700::1111
DNSOverTLS=opportunistic
DNSSEC=allow-downgrade
MulticastDNS=no
IPv6PrivacyExtensions=kernel
IgnoreCarrierLoss=30s

[Route]
Gateway=_dhcp4
InitialCongestionWindow=40
InitialAdvertisedReceiveWindow=40

[DHCPv4]
RouteMetric=600
UseDNS=false

[DHCPv6]
RouteMetric=600
UseDNS=false

[IPv6AcceptRA]
RouteMetric=600
