
/* Notification center */

.deadd-noti-center {
    font-family: Noto Sans;
}

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: rgba(32, 33, 36, 0.8);
}

.noti-center.time {
    font-size: 32px;
}

/* Notifications */

.title {
    font-weight: bold;
    font-size: 16px;
}

.appname {
    font-size: 12px;
}

.time {
    font-size: 12px;
}

.blurredBG.notification {
    background:  rgb(32, 33, 36);
}

.blurredBG.notification.critical {
    background: rgb(32, 33, 36);
}

.notificationInCenter.critical {
    background: rgb(32, 33, 36);
}

/* Labels */

label {
    color: #edfefe;
}

label.notification {
    color: #edfefe;
}

label.critical {
    color: #f39c12;
}
.notificationInCenter label.critical {
    color: #f39c12;
}


/* Buttons */

button {
    background: transparent;
    color: #2980b9;
    border-radius: 3px;
    border-width: 0px;
    background-position: 0px 0px;
    text-shadow: none;
}

button:hover {
    border-radius: 3px;
    background: rgba(0, 20, 20, 0.2);
    border-width: 0px;
    border-top: transparent;
    border-color: #f00;
    color: #fee;
}


/* Custom Buttons */

.userbutton {
    background: rgb(41, 128, 185);
}

.userbuttonlabel {
    color: #edfefe;
    font-size: 12px;
}

.userbutton:hover {
    background: rgb(52, 152, 219);
}

.userbuttonlabel:hover {
    color: #edfefe;
}

button.buttonState1 {
    background: rgb(41, 128, 185);
}

.userbuttonlabel.buttonState1 {
    color: #edfefe;
}

button.buttonState1:hover {
    background: rgb(52, 152, 219);
}

.userbuttonlabel.buttonState1:hover {
    color: #edfefe;
}

button.buttonState2 {
    background: rgb(41, 128, 185);
}

.userbuttonlabel.buttonState2 {
    color: #edfefe;
}

button.buttonState2:hover {
    background: rgb(52, 152, 219);
}

.userbuttonlabel.buttonState2:hover {
    color: #edfefe;
}


/* Images */

image.deadd-noti-center.notification.image {
    margin-left: 20px;
}
