[Unit]
Description=Ghostty Terminal
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/home/jason/.local/bin/ghostty
Restart=on-failure
RestartSec=3
Slice=app.slice
ManagedOOMMemoryPressure=kill
ManagedOOMMemoryPressureLimit=50%
ManagedOOMMemoryPressureDurationSec=30

[Install]
WantedBy=graphical-session.target
