[Unit]
Description=Deadd Notification Center
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/deadd-notification-center
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment=XDG_CONFIG_HOME=%h/.config
PIDFile=/run/notification-center.pid
Slice=session.slice
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target

