[Unit]
Description=Ghostty terminal with tmux
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/home/jason/.local/bin/ghostty -e tmuxinator arch
ExecStopPost=/bin/zsh -c "tmux kill-session -t arch || true"
Restart=on-failure
Slice=app.slice
TimeoutStartSec=15
TimeoutStopSec=10
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
OOMScoreAdjust=100
ManagedOOMMemoryPressure=kill
ManagedOOMMemoryPressureLimit=50%
ManagedOOMMemoryPressureDurationSec=30

[Install]
WantedBy=graphical-session.target
