[Unit]
Description=Hyprland Idle Daemon
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hypridle
BindsTo=hyprland.service
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/hypridle
Slice=background.slice
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=10
StartLimitIntervalSec=60
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
StandardOutput=journal
StandardError=journal
CPUWeight=idle
OOMScoreAdjust=250
UMask=0077

[Install]
WantedBy=graphical-session.target


