[Unit]
Description=Hyprland Idle Daemon
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hypridle
BindsTo=hyprland.service
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/hypridle
Restart=on-failure
TimeoutStartSec=30
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
Slice=session.slice
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target


