[Unit]
Description=Hyprland Wallpaper Setter
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=10
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
Slice=session.slice
StandardOutput=journal
StandardError=journal
MemoryMin=25M
MemoryLow=50M
OOMPolicy=continue
OOMScoreAdjust=-100
UMask=0077
NoNewPrivileges=yes

[Install]
WantedBy=graphical-session.target

