[Unit]
Description=Hyprland Polkit Authentication Agent
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
	
[Service]
Type=simple
ExecStart=/usr/lib/hyprpolkitagent/hyprpolkitagent
Slice=session.slice
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=10
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
TimeoutStopSec=5sec
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=graphical-session.target
