[Unit]
Description=iwgtk - GUI for iwd
Documentation=man:iwgtk(1)
Wants=iwd.service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=iwgtk -i
Restart=on-failure
Slice=session.slice
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
