[Unit]
Description=Polkit Authentication Agent for GNOME
Requires=graphical-session.target
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Type=simple
Restart=on-failure
StandardOutput=journal
StandardError=journal
Slice=session.slice

[Install]
WantedBy=graphical-session.target

