[Unit]
Description=Raspberry Pi Pico Dev Container
After=network.target

[Service]
ExecStart=/usr/bin/sudo /usr/bin/systemd-nspawn \
  -D /var/lib/machines/rp2040-dev \
  --bind=/dev/bus/usb \
  --bind=/home/%u/.build/pico:/mnt/project \
  --setenv=PICO_SDK_PATH=/opt/pico-sdk/sdk/2.1.0 \
#  --network-namespace=host \
  --private-users=pick \
  --private-users-chown \
  --as-pid2 /bin/bash
Restart=on-failure
Slice=app.slice
OOMScoreAdjust=500
MemoryMax=4G
ManagedOOMMemoryPressure=kill
ManagedOOMMemoryPressureLimit=40%
ManagedOOMMemoryPressureDurationSec=30

[Install]
WantedBy=default.target
