[Unit]
Description=SWWW Wallpaper Daemon
Documentation=https://github.com/LGFae/swww
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
	
[Service]
Type=simple
Environment=RUST_BACKTRACE=1
ExecStart=/usr/bin/swww-daemon --format argb
Slice=session.slice
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=10
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=graphical-session.target
