[Unit]
Description=udiskie - Automount removable media
Documentation=man:udiskie(1)
Requires=graphical-session.target
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --no-config
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=10
StartLimitIntervalSec=60
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
Slice=session.slice
StandardOutput=journal
StandardError=journal
UMask=0077

[Install]
WantedBy=graphical-session.target
