[Unit]
Description=Automatically mount removable media
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie --no-config
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
