[Unit]
Description=Waybar - Wayland status bar
Documentation=https://github.com/Alexays/Waybar/wiki/
BindsTo=graphical-session.target
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
TimeoutStartSec=30
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
Slice=session.slice
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
