[Unit]
Description=Waybar - Wayland status bar
Documentation=https://github.com/Alexays/Waybar/wiki/
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID
Slice=session.slice
Restart=on-failure
TimeoutStartSec=30
TimeoutStopSec=10
StartLimitIntervalSec=60
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
StandardOutput=journal
StandardError=journal
MemoryMin=100M
MemoryLow=250M
OOMPolicy=continue
OOMScoreAdjust=-250
UMask=0077
NoNewPrivileges=yes

[Install]
WantedBy=graphical-session.target
