[Unit]
Description=Waybar - Wayland status bar
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
RestartSec=1
RestartSteps=3
RestartMaxDelaySec=3
Slice=session.slice
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
