[Unit]
Description=Zen Browser
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/opt/zen-browser-bin/zen-bin
Restart=on-failure
Slice=app.slice
TimeoutStartSec=30
TimeoutStopSec=10
StartLimitBurst=3
RestartSec=3
RestartSteps=2
RestartMaxDelaySec=15
IPAccounting=yes
StandardOutput=journal
StandardError=journal
OOMScoreAdjust=200
NoNewPrivileges=yes
RestrictSUIDSGID=yes
UMask=0077

[Install]
WantedBy=graphical-session.target
