/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
   ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
   ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝
   ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
   ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║
    ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ */


/* Global Settings */
* {
    font-family: "FontAwesome", "Fira Sans";
    font-size: 13px;
}

/* Waybar */
window#waybar {
    background: linear-gradient(to bottom, #11111b 30%, #202124);
    color: #edfefe;
    transition: background-color 0.5s ease;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin: 0 4px;
}

/* Buttons */
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    transition: background 0.3s ease;
}

button:hover {
    background: #45475a;
}

/* Workspaces */
#workspaces {
    font-size: 18px;
    border: inset 1px #11111b;
    border-radius: 20px;
    margin: 0 4px;
    padding: 0 5px;
    background: #313244;
    box-shadow: inset 2px 2px 4px 2px #181825;
}

#workspaces button {
    padding: 0 5px;
    background: none;
    color: #edfefe;
    text-shadow: 2px 2px 4px #000;
}

#workspaces button:hover {
    background-color: #585b70;
    border-radius: 20px;
}

#workspaces button.active {
    background-color: #181825;
    border-radius: 20px;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

/* Workspaces Labels */
#workspaces button:nth-child(1) label { color: #89b4fa; }
#workspaces button:nth-child(2) label { color: #a6e3a1; }
#workspaces button:nth-child(3) label { color: #f38ba8; }
#workspaces button:nth-child(4) label { color: #f9e2af; }
#workspaces button:nth-child(5) label { color: #f5c2e7; }
#workspaces button:nth-child(6) label { color: #fab387; }
#workspaces button:nth-child(7) label { color: #89dceb; }
#workspaces button:nth-child(8) label { color: #eba0ac; }
#workspaces button:nth-child(9) label { color: #74c7ec; }

#workspaces button label {
    text-shadow: 2px 2px 3px #000;
}

/* Modules Margins */
.modules-left > widget:first-child > #workspaces,
.modules-right > widget:last-child > #workspaces {
    margin: 0;
}

/* Common Module Styles */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-arch,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #fff;
}

/* Clock */
#clock {
    background: radial-gradient(circle, #313244 60%, #1e1e2e);
    text-shadow: 2px 2px 4px #000;
    transition: background 0.5s ease;
}

#clock:hover {
    background: radial-gradient(circle, #45475a 60%, #1e1e2e);
    text-shadow: 0 2px 6px #000;
}

/* Battery */
#battery {
    background: none;
    transition: text-shadow 0.5s ease;
}

#battery:hover {
    text-shadow: 0 0 6px #edfefe;
}

@keyframes blink1 {
    to {
        color: #a6e3a1;
        text-shadow: 0 0 6px #27ae60;
    }
}

@keyframes blink2 {
    to {
        color: #e74c3c;
    }
}

#battery.charging, #battery.plugged {
    color: #30d475;
    text-shadow: 0 0 4px #000;
    animation: blink1 1s infinite alternate;
}

#battery.critical:not(.charging) {
    animation: blink2 0.5s steps(12) infinite alternate;
}

label:focus {
    background-color: #000;
}

#cpu, #memory, #network, #pulseaudio, #temperature {
    border-radius: 10px;
    background: radial-gradient(#333, #1e1e2e);
    box-shadow: inset 2px 2px 8px #11111b, 0 1px 6px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px #000;
    transition: background 0.1s ease, color 0.1s ease, font-size 0.1s ease;
}

#cpu { color: #94e2d5; }
#memory { color: #f5c2e7; }
#network { color: #89b4fa; }
#pulseaudio { color: #f9e2af; }
#temperature { color: #a6e3a1; }

#cpu:hover, #memory:hover, #network:hover, #pulseaudio:hover, #temperature:hover {
    font-size: 15px;
    color: #202124;
}

#cpu:hover { background: radial-gradient(#94e2d5, #16a085); }
#memory:hover { background: radial-gradient(#f5c2e7, #8e44ad); }
#network:hover { background: radial-gradient(#89b4fa, #2980b9); }
#pulseaudio:hover { background: radial-gradient(#f9e2af, #f39c12); }
#temperature:hover { background: radial-gradient(#a6e3a1, #27ae60); }

#network.disconnected {
    color: #f38ba8;
}

#network.disconnected:hover {
    background: radial-gradient(#f38ba8, #e74c3c);
    font-size: 15px;
    color: #202124;
}

/* Audio */
#pulseaudio.muted {
    background: #333;
    color: #000;
}

/* Arch Linux Customizations */
#custom-arch {
    font-size: 20px;
    background: none;
    color: #8e44ad;
    text-shadow: 2px 2px 4px #000;
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

#custom-arch:hover {
    color: #f5c2e7;
    text-shadow: 0 2px 6px #8e44ad;
    font-size: 21px;
}

@keyframes blink-update {
    to {
        color: #89b4fa;
        text-shadow: 0 0 4px #1793d1;
    }
}

#custom-pacman {
    margin: 0 10px 0 0;
    background: none;
    color: #27ae60;
}

#custom-pacman:hover {
    color: #a6e3a1;
    text-shadow: 0 2px 4px #27ae60;
}

#custom-pacman.pending-updates {
    color: #333333;
    animation: blink-update 1s infinite alternate;
}

#custom-power {
    font-size: 20px;
    background: none;
    color: #c0392b;
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

#custom-power:hover {
    color: #f38ba8;
    text-shadow: 0 2px 4px #c0392b;
}

/* CPU Temperature Critical */
#temperature.critical {
    background: #333;
    color: #e74c3c;
}

#temperature.critical:hover {
    background: radial-gradient(#f38ba8, #e74c3c);
    color: #202124;
}

/* Systray */
#tray {
    background: none;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f38ba8;
}

/* Idle Inhibitor */
#idle_inhibitor {
    background: none;
    color: #666;
}

#idle_inhibitor.activated {
    color: #a6e3a1;
    text-shadow: 0 2px 4px #27ae60;
}

